body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

}

#calculator {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: rgb(142, 142, 141);
    padding: 10rem;
    align-items: center;
    border-style: ridge;
    border-radius: 0.625rem;
    box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3);
    padding: 3.125rem;
}

#score {
    width: 70%;
    height: 20%;
    background-color: #f0f0f0;
    color: rgb(140, 50, 95);
    border: 0.125rem solid black;
    padding: 0.625rem;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1.125rem;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 0.625rem;
}
#numbers, #operators {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.375rem;
}
 #operators {
    grid-template-columns: repeat(4, 1fr);
 }

.styleSquare {
    padding: 0.9375rem;
    font-size: 1.125rem;
    border-radius: 0.3125rem;
}
.styleSquare:hover {
        opacity: 0.8;
        cursor: pointer;
}